In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('tic_tac_toe_dataset.csv')

In [3]:
df.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive

In [4]:
df_train = pd.read_csv('train.csv')

In [5]:
df_train.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class,Id
0,x,x,x,x,o,o,x,o,o,0,0
1,x,x,x,x,o,o,o,x,o,0,1
2,x,x,x,x,o,o,o,b,b,0,3
3,x,x,x,x,o,b,o,b,o,0,7
4,x,x,x,x,o,b,b,o,o,0,8

In [6]:
df_test = pd.read_csv('test.csv')

In [7]:
df_test.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,Id
0,x,x,x,x,o,o,o,o,x,2
1,x,x,x,x,o,o,b,o,b,4
2,x,x,x,x,o,o,b,b,o,5
3,x,x,x,x,o,b,o,o,b,6
4,x,x,x,x,b,o,o,o,b,9

In [8]:
df['class'].value_counts()

positive    626
negative    332
Name: class, dtype: int64

In [9]:
df['top_left_square'].value_counts()

x    418
o    335
b    205
Name: top_left_square, dtype: int64

In [10]:
df_train = df_train.drop(columns=['Id'])
df_test = df_test.drop(columns=['Id'])

In [11]:
df_train

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,0
1,x,x,x,x,o,o,o,x,o,0
2,x,x,x,x,o,o,o,b,b,0
3,x,x,x,x,o,b,o,b,o,0
4,x,x,x,x,o,b,b,o,o,0
...,...,...,...,...,...,...,...,...,...,...
657,x,o,o,o,x,x,x,x,o,1
658,o,x,x,x,o,o,o,x,x,1
659,o,x,o,x,x,o,x,o,x,1
660,o,x,o,x,o,x,x,o,x,1
661,o,x,o,o,x,x,x,o,x,1

In [12]:
from sklearn.preprocessing import LabelEncoder
df = df.apply(LabelEncoder().fit_transform)
df

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,2,2,2,2,1,1,2,1,1,1
1,2,2,2,2,1,1,1,2,1,1
2,2,2,2,2,1,1,1,1,2,1
3,2,2,2,2,1,1,1,0,0,1
4,2,2,2,2,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
953,1,2,2,2,1,1,1,2,2,0
954,1,2,1,2,2,1,2,1,2,0
955,1,2,1,2,1,2,2,1,2,0
956,1,2,1,1,2,2,2,1,2,0
957,1,1,2,2,2,1,1,2,2,0

In [13]:
X = df.iloc[:, 0:9].values
y = df.iloc[:, 9].values

In [14]:
print(X.shape)
print(y.shape)
print(df.shape)

(958, 9)
(958,)
(958, 10)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [16]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 5, min_samples_split = 10)
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [17]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.7833333333333333
[[ 48  38]
 [ 14 140]]

In [18]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [19]:
model = Sequential()

In [20]:
model.add(Dense(3, input_dim=9, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(9, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(21, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(9, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(1, activation='sigmoid', kernel_initializer='random_normal'))

In [21]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [23]:
model.fit(X_train, y_train, epochs=100, batch_size=128)

Train on 718 samples
Epoch 1/100
718/718 [==============================] - 1s 927us/sample - loss: 0.6928 - accuracy: 0.5794
Epoch 2/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6918 - accuracy: 0.6574
Epoch 3/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6906 - accuracy: 0.6574
Epoch 4/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6895 - accuracy: 0.6574
Epoch 5/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6883 - accuracy: 0.6574
Epoch 6/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6869 - accuracy: 0.6574
Epoch 7/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6857 - accuracy: 0.6574
Epoch 8/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6840 - accuracy: 0.6574
Epoch 9/100
718/718 [==============================] - 0s 22us/sample - loss: 0.6822 - accuracy: 0.6574
Epoch 10/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6801 - accuracy: 0.6574
Epoch 11/100
718/718 [==============================] - 0s 22us/sample - loss: 0.6772 - accuracy: 0.6574
Epoch 12/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6739 - accuracy: 0.6574
Epoch 13/100
718/718 [==============================] - 0s 31us/sample - loss: 0.6696 - accuracy: 0.6574
Epoch 14/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6640 - accuracy: 0.6574
Epoch 15/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6575 - accuracy: 0.6574
Epoch 16/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6512 - accuracy: 0.6574
Epoch 17/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6453 - accuracy: 0.6574
Epoch 18/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6420 - accuracy: 0.6574
Epoch 19/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6417 - accuracy: 0.6574
Epoch 20/100
718/718 [==============================] - 0s 28us/sample - loss: 0.6418 - accuracy: 0.6574
Epoch 21/100
718/718 [==============================] - 0s 28us/sample - loss: 0.6410 - accuracy: 0.6574
Epoch 22/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6404 - accuracy: 0.6574
Epoch 23/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6399 - accuracy: 0.6574
Epoch 24/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6396 - accuracy: 0.6574
Epoch 25/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6393 - accuracy: 0.6574
Epoch 26/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6388 - accuracy: 0.6574
Epoch 27/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6384 - accuracy: 0.6574
Epoch 28/100
718/718 [==============================] - 0s 22us/sample - loss: 0.6380 - accuracy: 0.6574
Epoch 29/100
718/718 [==============================] - 0s 42us/sample - loss: 0.6376 - accuracy: 0.6574
Epoch 30/100
718/718 [==============================] - 0s 29us/sample - loss: 0.6372 - accuracy: 0.6574
Epoch 31/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6368 - accuracy: 0.6574
Epoch 32/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6363 - accuracy: 0.6574
Epoch 33/100
718/718 [==============================] - 0s 28us/sample - loss: 0.6358 - accuracy: 0.6574
Epoch 34/100
718/718 [==============================] - 0s 28us/sample - loss: 0.6354 - accuracy: 0.6574
Epoch 35/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6349 - accuracy: 0.6574
Epoch 36/100
718/718 [==============================] - 0s 21us/sample - loss: 0.6345 - accuracy: 0.6574
Epoch 37/100
718/718 [==============================] - 0s 22us/sample - loss: 0.6339 - accuracy: 0.6574
Epoch 38/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6332 - accuracy: 0.6574
Epoch 39/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6326 - accuracy: 0.6574
Epoch 40/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6319 - accuracy: 0.6574
Epoch 41/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6314 - accuracy: 0.6574
Epoch 42/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6306 - accuracy: 0.6574
Epoch 43/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6301 - accuracy: 0.6574
Epoch 44/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6291 - accuracy: 0.6574
Epoch 45/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6284 - accuracy: 0.6574
Epoch 46/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6276 - accuracy: 0.6574
Epoch 47/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6269 - accuracy: 0.6574
Epoch 48/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6259 - accuracy: 0.6574
Epoch 49/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6253 - accuracy: 0.6574
Epoch 50/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6241 - accuracy: 0.6574
Epoch 51/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6232 - accuracy: 0.6574
Epoch 52/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6222 - accuracy: 0.6574
Epoch 53/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6212 - accuracy: 0.6574
Epoch 54/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6203 - accuracy: 0.6574
Epoch 55/100
718/718 [==============================] - 0s 28us/sample - loss: 0.6193 - accuracy: 0.6574
Epoch 56/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6189 - accuracy: 0.6574
Epoch 57/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6177 - accuracy: 0.6574
Epoch 58/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6168 - accuracy: 0.6574
Epoch 59/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6164 - accuracy: 0.6574
Epoch 60/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6153 - accuracy: 0.6574
Epoch 61/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6147 - accuracy: 0.6574
Epoch 62/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6142 - accuracy: 0.6574
Epoch 63/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6136 - accuracy: 0.6574
Epoch 64/100
718/718 [==============================] - 0s 22us/sample - loss: 0.6130 - accuracy: 0.6574
Epoch 65/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6125 - accuracy: 0.6574
Epoch 66/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6119 - accuracy: 0.6574
Epoch 67/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6114 - accuracy: 0.6574
Epoch 68/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6111 - accuracy: 0.6574
Epoch 69/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6106 - accuracy: 0.6574
Epoch 70/100
718/718 [==============================] - 0s 29us/sample - loss: 0.6101 - accuracy: 0.6574
Epoch 71/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6097 - accuracy: 0.6574
Epoch 72/100
718/718 [==============================] - 0s 29us/sample - loss: 0.6094 - accuracy: 0.6574
Epoch 73/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6089 - accuracy: 0.6574
Epoch 74/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6085 - accuracy: 0.6574
Epoch 75/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6082 - accuracy: 0.6574
Epoch 76/100
718/718 [==============================] - 0s 27us/sample - loss: 0.6080 - accuracy: 0.6574
Epoch 77/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6075 - accuracy: 0.6574
Epoch 78/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6070 - accuracy: 0.6574
Epoch 79/100
718/718 [==============================] - 0s 22us/sample - loss: 0.6066 - accuracy: 0.6574
Epoch 80/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6064 - accuracy: 0.6574
Epoch 81/100
718/718 [==============================] - 0s 30us/sample - loss: 0.6061 - accuracy: 0.6574
Epoch 82/100
718/718 [==============================] - 0s 31us/sample - loss: 0.6057 - accuracy: 0.6574
Epoch 83/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6053 - accuracy: 0.6574
Epoch 84/100
718/718 [==============================] - 0s 25us/sample - loss: 0.6053 - accuracy: 0.6574
Epoch 85/100
718/718 [==============================] - 0s 22us/sample - loss: 0.6048 - accuracy: 0.6574
Epoch 86/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6043 - accuracy: 0.6574
Epoch 87/100
718/718 [==============================] - 0s 30us/sample - loss: 0.6040 - accuracy: 0.6574
Epoch 88/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6043 - accuracy: 0.6574
Epoch 89/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6034 - accuracy: 0.6574
Epoch 90/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6030 - accuracy: 0.6574
Epoch 91/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6026 - accuracy: 0.6574
Epoch 92/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6024 - accuracy: 0.6574
Epoch 93/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6021 - accuracy: 0.6574
Epoch 94/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6018 - accuracy: 0.6574
Epoch 95/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6017 - accuracy: 0.6574
Epoch 96/100
718/718 [==============================] - 0s 28us/sample - loss: 0.6013 - accuracy: 0.6574
Epoch 97/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6009 - accuracy: 0.6574
Epoch 98/100
718/718 [==============================] - 0s 24us/sample - loss: 0.6007 - accuracy: 0.6574
Epoch 99/100
718/718 [==============================] - 0s 23us/sample - loss: 0.6005 - accuracy: 0.6574
Epoch 100/100
718/718 [==============================] - 0s 26us/sample - loss: 0.6003 - accuracy: 0.6574

In [ ]:
from sklearn.preprocessing import LabelEncoder
df_test = df_test.apply(LabelEncoder().fit_transform)
df_test

In [ ]:
df_test.iloc[0].values.reshape(1, 9)

In [ ]:
model.predict(df_test.iloc[0].values.reshape(1, 9))