In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('tic_tac_toe_dataset.csv')

In [3]:
df.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive

In [4]:
df_train = pd.read_csv('train.csv')

In [5]:
df_train.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class,Id
0,x,x,x,x,o,o,x,o,o,0,0
1,x,x,x,x,o,o,o,x,o,0,1
2,x,x,x,x,o,o,o,b,b,0,3
3,x,x,x,x,o,b,o,b,o,0,7
4,x,x,x,x,o,b,b,o,o,0,8

In [6]:
df_test = pd.read_csv('test.csv')

In [7]:
df_test.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,Id
0,x,x,x,x,o,o,o,o,x,2
1,x,x,x,x,o,o,b,o,b,4
2,x,x,x,x,o,o,b,b,o,5
3,x,x,x,x,o,b,o,o,b,6
4,x,x,x,x,b,o,o,o,b,9

In [8]:
df_train['class'].value_counts()

0    427
1    235
Name: class, dtype: int64

In [9]:
df_train['top_left_square'].value_counts()

x    284
o    233
b    145
Name: top_left_square, dtype: int64

In [10]:
df_train = df_train.drop(columns=['Id'])
df_test = df_test.drop(columns=['Id'])

In [11]:
df_train

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,0
1,x,x,x,x,o,o,o,x,o,0
2,x,x,x,x,o,o,o,b,b,0
3,x,x,x,x,o,b,o,b,o,0
4,x,x,x,x,o,b,b,o,o,0
...,...,...,...,...,...,...,...,...,...,...
657,x,o,o,o,x,x,x,x,o,1
658,o,x,x,x,o,o,o,x,x,1
659,o,x,o,x,x,o,x,o,x,1
660,o,x,o,x,o,x,x,o,x,1
661,o,x,o,o,x,x,x,o,x,1

In [12]:
from sklearn.preprocessing import LabelEncoder
df_train = df_train.apply(LabelEncoder().fit_transform)
df_train

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,2,2,2,2,1,1,2,1,1,0
1,2,2,2,2,1,1,1,2,1,0
2,2,2,2,2,1,1,1,0,0,0
3,2,2,2,2,1,0,1,0,1,0
4,2,2,2,2,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
657,2,1,1,1,2,2,2,2,1,1
658,1,2,2,2,1,1,1,2,2,1
659,1,2,1,2,2,1,2,1,2,1
660,1,2,1,2,1,2,2,1,2,1
661,1,2,1,1,2,2,2,1,2,1

In [13]:
X = df_train.iloc[:, 0:9].values
y = df_train.iloc[:, 9].values

In [14]:
print(X.shape)
print(y.shape)

(662, 9)
(662,)

In [15]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [16]:
model = Sequential()

In [17]:
model.add(Dense(3, input_dim=9, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(9, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(21, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(9, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(1, activation='sigmoid', kernel_initializer='random_normal'))

In [18]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
model.fit(X, y, epochs=100, batch_size=128)

Train on 662 samples
Epoch 1/100
662/662 [==============================] - 1s 987us/sample - loss: 0.7772 - accuracy: 0.3776
Epoch 2/100
662/662 [==============================] - 0s 21us/sample - loss: 0.7460 - accuracy: 0.3943
Epoch 3/100
662/662 [==============================] - 0s 24us/sample - loss: 0.7263 - accuracy: 0.3973
Epoch 4/100
662/662 [==============================] - 0s 25us/sample - loss: 0.7104 - accuracy: 0.4471
Epoch 5/100
662/662 [==============================] - 0s 28us/sample - loss: 0.6997 - accuracy: 0.4909
Epoch 6/100
662/662 [==============================] - 0s 32us/sample - loss: 0.6924 - accuracy: 0.5302
Epoch 7/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6859 - accuracy: 0.5906
Epoch 8/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6808 - accuracy: 0.6329
Epoch 9/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6763 - accuracy: 0.6465
Epoch 10/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6723 - accuracy: 0.6450
Epoch 11/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6693 - accuracy: 0.6450
Epoch 12/100
662/662 [==============================] - 0s 27us/sample - loss: 0.6663 - accuracy: 0.6450
Epoch 13/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6635 - accuracy: 0.6450
Epoch 14/100
662/662 [==============================] - 0s 27us/sample - loss: 0.6616 - accuracy: 0.6450
Epoch 15/100
662/662 [==============================] - 0s 27us/sample - loss: 0.6601 - accuracy: 0.6450
Epoch 16/100
662/662 [==============================] - 0s 27us/sample - loss: 0.6589 - accuracy: 0.6450
Epoch 17/100
662/662 [==============================] - 0s 28us/sample - loss: 0.6576 - accuracy: 0.6450
Epoch 18/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6563 - accuracy: 0.6450
Epoch 19/100
662/662 [==============================] - 0s 28us/sample - loss: 0.6551 - accuracy: 0.6450
Epoch 20/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6545 - accuracy: 0.6450
Epoch 21/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6534 - accuracy: 0.6450
Epoch 22/100
662/662 [==============================] - 0s 27us/sample - loss: 0.6526 - accuracy: 0.6450
Epoch 23/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6523 - accuracy: 0.6450
Epoch 24/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6517 - accuracy: 0.6450
Epoch 25/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6513 - accuracy: 0.6450
Epoch 26/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6507 - accuracy: 0.6450
Epoch 27/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6501 - accuracy: 0.6450
Epoch 28/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6497 - accuracy: 0.6450
Epoch 29/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6494 - accuracy: 0.6450
Epoch 30/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6491 - accuracy: 0.6450
Epoch 31/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6487 - accuracy: 0.6450
Epoch 32/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6484 - accuracy: 0.6450
Epoch 33/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6481 - accuracy: 0.6450
Epoch 34/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6479 - accuracy: 0.6450
Epoch 35/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6478 - accuracy: 0.6450
Epoch 36/100
662/662 [==============================] - 0s 21us/sample - loss: 0.6477 - accuracy: 0.6450
Epoch 37/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6473 - accuracy: 0.6450
Epoch 38/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6471 - accuracy: 0.6450
Epoch 39/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6468 - accuracy: 0.6450
Epoch 40/100
662/662 [==============================] - 0s 27us/sample - loss: 0.6467 - accuracy: 0.6450
Epoch 41/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6466 - accuracy: 0.6450
Epoch 42/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6464 - accuracy: 0.6450
Epoch 43/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6461 - accuracy: 0.6450
Epoch 44/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6460 - accuracy: 0.6450
Epoch 45/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6458 - accuracy: 0.6450
Epoch 46/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6457 - accuracy: 0.6450
Epoch 47/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6456 - accuracy: 0.6450
Epoch 48/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6455 - accuracy: 0.6450
Epoch 49/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6453 - accuracy: 0.6450
Epoch 50/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6453 - accuracy: 0.6450
Epoch 51/100
662/662 [==============================] - 0s 27us/sample - loss: 0.6450 - accuracy: 0.6450
Epoch 52/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6449 - accuracy: 0.6450
Epoch 53/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6447 - accuracy: 0.6450
Epoch 54/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6448 - accuracy: 0.6450
Epoch 55/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6446 - accuracy: 0.6450
Epoch 56/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6445 - accuracy: 0.6450
Epoch 57/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6443 - accuracy: 0.6450
Epoch 58/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6442 - accuracy: 0.6450
Epoch 59/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6442 - accuracy: 0.6450
Epoch 60/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6440 - accuracy: 0.6450
Epoch 61/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6438 - accuracy: 0.6450
Epoch 62/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6437 - accuracy: 0.6450
Epoch 63/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6436 - accuracy: 0.6450
Epoch 64/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6434 - accuracy: 0.6450
Epoch 65/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6432 - accuracy: 0.6450
Epoch 66/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6431 - accuracy: 0.6450
Epoch 67/100
662/662 [==============================] - 0s 29us/sample - loss: 0.6430 - accuracy: 0.6450
Epoch 68/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6429 - accuracy: 0.6450
Epoch 69/100
662/662 [==============================] - 0s 28us/sample - loss: 0.6427 - accuracy: 0.6450
Epoch 70/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6427 - accuracy: 0.6450
Epoch 71/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6425 - accuracy: 0.6450
Epoch 72/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6425 - accuracy: 0.6450
Epoch 73/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6423 - accuracy: 0.6450
Epoch 74/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6422 - accuracy: 0.6450
Epoch 75/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6421 - accuracy: 0.6450
Epoch 76/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6420 - accuracy: 0.6450
Epoch 77/100
662/662 [==============================] - 0s 28us/sample - loss: 0.6419 - accuracy: 0.6450
Epoch 78/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6418 - accuracy: 0.6450
Epoch 79/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6418 - accuracy: 0.6450
Epoch 80/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6416 - accuracy: 0.6450
Epoch 81/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6416 - accuracy: 0.6450
Epoch 82/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6415 - accuracy: 0.6450
Epoch 83/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6416 - accuracy: 0.6450
Epoch 84/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6414 - accuracy: 0.6450
Epoch 85/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6414 - accuracy: 0.6450
Epoch 86/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6413 - accuracy: 0.6450
Epoch 87/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6413 - accuracy: 0.6450
Epoch 88/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6411 - accuracy: 0.6450
Epoch 89/100
662/662 [==============================] - 0s 26us/sample - loss: 0.6411 - accuracy: 0.6450
Epoch 90/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6410 - accuracy: 0.6450
Epoch 91/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6409 - accuracy: 0.6450
Epoch 92/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6409 - accuracy: 0.6450
Epoch 93/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6408 - accuracy: 0.6450
Epoch 94/100
662/662 [==============================] - 0s 23us/sample - loss: 0.6408 - accuracy: 0.6450
Epoch 95/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6407 - accuracy: 0.6450
Epoch 96/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6407 - accuracy: 0.6450
Epoch 97/100
662/662 [==============================] - 0s 25us/sample - loss: 0.6407 - accuracy: 0.6450
Epoch 98/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6406 - accuracy: 0.6450
Epoch 99/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6405 - accuracy: 0.6450
Epoch 100/100
662/662 [==============================] - 0s 24us/sample - loss: 0.6404 - accuracy: 0.6450

In [20]:
from sklearn.preprocessing import LabelEncoder
df_test = df_test.apply(LabelEncoder().fit_transform)
df_test

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,2,2,2,2,1,1,1,1,2
1,2,2,2,2,1,1,0,1,0
2,2,2,2,2,1,1,0,0,1
3,2,2,2,2,1,0,1,1,0
4,2,2,2,2,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...
291,2,1,2,2,1,2,1,2,1
292,2,1,2,2,1,1,1,2,2
293,1,2,2,2,2,1,1,1,2
294,1,2,2,2,1,1,2,1,2
295,1,1,2,2,2,1,1,2,2

In [21]:
df_test.iloc[0].values.reshape(1, 9)

array([[2, 2, 2, 2, 1, 1, 1, 1, 2]])

In [22]:
model.predict(df_test.iloc[0].values.reshape(1, 9))

array([[0.3898279]], dtype=float32)