# Decision Tree Classifier

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("Downloads/classi-titanic.csv")
df.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [2]:
df.describe()

         Survived      Pclass         Age
count  714.000000  714.000000  714.000000
mean     0.406162    2.236695   29.699118
std      0.491460    0.838250   14.526497
min      0.000000    1.000000    0.420000
25%      0.000000    1.000000   20.125000
50%      0.000000    2.000000   28.000000
75%      1.000000    3.000000   38.000000
max      1.000000    3.000000   80.000000

In [3]:
df['Sex']=[0 if i=='female' else 1 for i in df['Sex']]
df

     Survived  Pclass  Sex   Age
0           0       3    1  22.0
1           1       1    0  38.0
2           1       3    0  26.0
3           1       1    0  35.0
4           0       3    1  35.0
..        ...     ...  ...   ...
709         0       3    0  39.0
710         0       2    1  27.0
711         1       1    0  19.0
712         1       1    1  26.0
713         0       3    1  32.0

[714 rows x 4 columns]

In [4]:
y=df['Survived']
x=df.iloc[:,1:4]
#x=df[['Pclass','Sex','Age']]
x.head()

   Pclass  Sex   Age
0       3    1  22.0
1       1    0  38.0
2       3    0  26.0
3       1    0  35.0
4       3    1  35.0

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=40)
print(x_train.shape)
print(x_test.shape)

(499, 3)
(215, 3)

In [6]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='entropy',max_depth=5,min_samples_split=10)
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [7]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
y_pred=model.predict(x_train)
print(accuracy_score(y_train,y_pred))
print(confusion_matrix(y_train,y_pred))

0.8336673346693386
[[298   7]
 [ 76 118]]

In [8]:
test_pred=model.predict(x_test)
print(accuracy_score(y_test,test_pred))
print(confusion_matrix(y_test,test_pred))

0.7581395348837209
[[112   7]
 [ 45  51]]

In [9]:
from sklearn.tree import export_graphviz
from IPython.display import Image
import pydot
from sklearn.externals.six import StringIO

C:\Users\ayush\AppData\Roaming\Python\Python37\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [11]:
data=StringIO()
export_graphviz(model,out_file=data,filled=True,max_depth=5)
graph=pydot.graph_from_dot_data(data.getvalue())
Image(graph[0].create_png())

FileNotFoundError: [WinError 2] "dot" not found in path.